.footer{
    background-color: #2e2e2e;
    color: white;
    text-align: center;
    padding: 50px;
}

.des{
    width: 50%;
    margin: 70px auto;
}

span{
    color: #62cb2c;
}

.footer-inner-container{
    background-color: #62cb2c;
    color: white;
    border-radius: 5px;
    width: 60%;
    margin: 10px auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.footer-inner-container div{
    text-align: left;
}
.contact-btn{
    float: right;
    width: 120px;
    border-radius: 5px;
    border: 2px solid white;
    background-color: #62cb2c;
    color: white;
}
.contact-btn:hover{
    background-color: white;
    color: #62cb2c;
}

.details{
    display: flex;
    padding: 50px auto;
    line-height: 2;
    text-align: left;
}
.details p:hover{
    color: #62cb2c;
}
.details div{
    margin: 25px;
    margin-top: 100px;
}